
<a asp-controller="Cart" asp-action="Intex" class="navbae-text ml-auto">
    00,0 руб <i class="fas fa-shopping-cart nav-color"></i> (0)
</a>
<div class="dropdown ml-4 nav-color">
    <div class="dropdown-toggle" id="dropdownMenuButton"
         data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
        <img src="https://mobimg.b-cdn.net/v3/fetch/71/71cf5a68d51acab5f06c69c96b81c8a4.jpeg" width="30"
             alt="User" class="rounded" />
    </div>
    <div class="dropdown-menu"
         aria-labelledby="dropdownMenuButton">
        <div class="dropdown-item-text">
            <img src="https://mobimg.b-cdn.net/v3/fetch/71/71cf5a68d51acab5f06c69c96b81c8a4.jpeg" width="50"
                 alt="User" class="rounded" />
            user@mail.ru
        </div>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Cart" asp-action="Index">Мои товары</a>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Log off</a>
    </div>
</div>